.contentWrapper {
 color: $black;
  width: 100%;
  min-height: 40vh;
  padding-top: 24px;
  @extend%aligncenter;
  flex-direction: column;
  gap: 12px;
  h1 {
    align-self: flex-start;
  }
  @media screen and (min-width: 768px) {
    //gap: 16px;
  }
  @media screen and (min-width: 1240px) {
    padding-top: 40px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  //gap: 10px;
  width: 100%;
  > section:last-child {
    margin-bottom: 70px;
  }
  @media screen and (min-width: 768px) {
    > section:last-child {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 1240px) {
    > section:nth-child(2) {
      padding-bottom: 100px;
    }
    > section:last-child {
      margin-bottom: 55px;
    }
  }
}
