.Gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  .galleryHeading {
    width: 100%;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      @media screen and (max-width: 1024px) {
        font-size: 32px;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 678px) {
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }
  .ButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .item {
      max-width: 37rem;
      border-radius: 0.5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
  .Slider {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      height: 450px;
      margin-bottom: 1rem;
    }

    .Slide {
      width: 100%;
      min-height: 80vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (max-width: 1024px) {
          height: 396px;
        }
      }
    }
  }
}
