.modalStyle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 48px;
  border: 1px solid $admin-text-main;
  border-radius: 10px;
  background: #fff;
}

.headingStyle {
  color: $admin-text-main;
  text-align: start;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid $admin-purple;
  margin-bottom: 50px;
}

.popUpStyle {
  display: flex;
  column-gap: 28px;
}

.textStyle {
  color: $admin-text-add;
  font-size: 14px;
  font-weight: 500;
  width: 478px;
}
