$black: #120000;
$white: #fffcfc;
$accent: #d66600;
$lightgray: #f3f3f3;
$gray: #666363;
$lightblue: #c2d1d9;
$admin-accent: #758bfd;
$graylight:#C2D1D9;
$breackpoint_laptop: 768px;
$breackpoint_desktop: 1280px;
$title-card-department: #1A1A1A;
