$black: #120000;
$white: #fffcfc;
$accent: #d66600;
$lightgray: #f3f3f3;
$gray: #666363;
$lightblue: #c2d1d9;
$graylight: #c2d1d9;
$title-card-department: #1a1a1a;
$linkColor: #120000;
$burgerMenuBG: #fffcfc;
$burgerMenuBorderColor: rgba(128, 128, 128, 0.5);
$transition: all 500ms ease;

//admin panel colors
$admin-text-main: #152340;
$admin-text-add: #26272D;
$admin-gray-text: #707E8C;
$admin-placeholders: #A3A3A3;
$admin-gray: #BBBCBE;
$admin-white: #FFFFFF;
$admin-background: #F6F7FF;
$admin-light-purple: #ECEFFF;
$admin-input-outline: #D5D9F2;
$admin-purplre-2: #BFC8FC;
$admin-blue: #6A65FF;
$admin-purple: #C4B9FD;
$admin-link: #006EFF;
$admin-accent: #0047FF;
$admin-blue-2: #758BFD;
$admin-dark-purle: #7574FC;
$admin-red: #FF3232;
$admin-green: #00BF13;