@import '_variables';
@import '_mixins';
@import '_placeholders';
@import './common/title';
body {
  min-height: 100vh;
}

main {
  margin-top: 102px;
  @media (min-width: 768px) {
    & {
      margin-top: 135px;
    }
  }
  @media (min-width: 1280px) {
    & {
      margin-top: 188px;
    }
  }
}
