@import '_variables';
@import '_mixins';
@import '_placeholders';

main {
  margin-top: 87px;
}
body {
  min-height: 100vh;
}
*:focus {
  outline: 1px solid $accent;
}
@media (min-width: 1280px) {
  main {
    margin-top: 188px;
  }
}
