.backgroundContainer{
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 25px 25px 100px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--admin-background, #F6F7FF);
}