.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0.31rem 1.25rem;
}
.item {
  min-width: 162px;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid $admin-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  &_active {
    font-size: 14px;
    padding: .5rem 0.44rem;
    color: $admin-accent;
    border-bottom: 2px solid $admin-accent;
  }
}
