.dropDown {
  width: 160px;
  padding: .5rem 0;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  &:focus,
  &:hover {
    border-bottom: 1px solid $accent;
  }
  @media screen and (min-width: 1280px) {
    padding: 0;
    border-bottom: 0;
    &:hover {
      .dropDownName {
        border-bottom: 1px solid $accent;
      }
      .menu {
        opacity: 1;
      }
    }
    &:focus,
    &:hover {
      border-bottom: 0;
    }
  }

  &:focus,
  &:hover {
    .menu {
      opacity: 1;
    }
  }

  @include desktop {
    width: max-content;
    border-bottom: none;
  }
}

.dropDownNameWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 2.7rem;
  justify-content: center;
  border-bottom: 1px solid $white;
}
.dropDownName {
  border-bottom: 1px solid transparent;
  @include font(18px, 600, 1.4);
  letter-spacing: 0.19px;
  color: $linkColor;

  @include tablet {
    @include font(20px, 600, 1.4);
  }

  @media screen and (min-width: 1280px) {
    padding: 0 1.5rem 0 0;
    width: max-content;

    @include font(16px, 400, 2);
    letter-spacing: 0.19px;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: all linear 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 1rem;
    height: 1rem;
    transition: all linear 0.2s;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 0.2rem;
    top: 1.1rem;
    width: 10px;
    height: 8px;
  }
}
.rotateIcon {
  img {
    transition: all linear 0.2s;
    transform: rotate(-180deg);
  }
}

.menu {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 54px; // same as your nav height
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 500ms ease;

  @media screen and (min-width: 1280px) {
    top: 43px; // same as your nav height
  }
}
.departmentsMenu {
  width: 210px;
  @media screen and (min-width: 1280px) {
    width: 247px;
  }
}
.aboutUsMenu {
  width: 210px;
}
.menuItem {
  background-color: $accent;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $white;
  @media screen and (min-width: 1280px) {
    border-bottom: 1px solid $white;
  }
  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
  }
  //border-radius: 5px;
  &:hover {
    background: $accent-hover;
  }
}
.menulink {
  pointer-events: none;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  @include font(18px, 500, 1);
  color: $white;
  /*
  &:focus {
    font-size: 20px;
   // outline: 1px solid $white;
  }
  */
}

.menu.open {
  opacity: 1;
}

.menulink.open {
  pointer-events: all;
}
