.logoWrapper{
   display: flex;
   width: 204px;
   padding: 0px 5px 0px 30px;
   align-items: center;
   gap: 15px;

}

.logoIcon {
   width: 25px;
   height: 25px;
}


.logoText{
   color: var(--admin-accent, #0047FF);
   font-family: Mulish;
   font-size: 8px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;

}
