.Container {
  margin: 0 auto;

  max-width: 1280px;

  padding: 0 1rem;
  /*
  @media screen and (min-width: 768px) {
    padding: 0 1rem;
  }
  */
  @media screen and (min-width: 1280px) {
    padding: 0 50px;
  }
}
