.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 102;
  // touch-action: none;
  -webkit-overflow-scrolling: none;

  overscroll-behavior: none;
  .close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 102;
  }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: center;
  img {
    object-fit: contain;
  }
}
