.Gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  .galleryHeading {
    width: 100%;
    h1 {
      font-size: 35px;
      font-weight: 700;
    }
  }
  .youtubeLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 24px 0;

    p {
      font-size: 18px;
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
      a {
        display: inline-block;

        img {
          width: 50px;
          height: 20px;
          display: inline;
          margin-bottom: -5px;
          margin-left: 9px;
          @media screen and (min-width: 768px) {
            width: 79px;
            height: 32px;
          }
        }
      }
    }
  }
  .videoWrapper {
    max-height: 65vh;
    width: 100%;
    margin-bottom: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
      justify-content: space-between;
    }

    .video {
      flex: 1;
      iframe {
        width: 742px;
        height: 400px;
      }
    }
    .videos {
      position: relative;
      width: 100%;

      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1280px) {
        width: 43%;
      }
      .swiper {
        width: 100%;

        @media screen and (min-width: 768px) {
          height: 370px;
        }
        // @media screen and (min-width: 1024px) {
        //   height: 55vh;
        // }
        @media screen and (min-width: 1280px) {
          height: 65vh;
        }
      }

      .slide {
        width: 100%;
        height: 100%;
        background: #fff;
        width: 288px;
        height: 164px;
        @media screen and (min-width: 768px) {
          width: 93%;
          height: 370px;
          margin: 0;
        }
        @media screen and (min-width: 1280px) {
          width: 382px;
          height: 190px;
        }
        iframe {
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .sort {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      justify-content: flex-end;
    }
    button {
      color: $gray;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .item {
      min-width: 138px;
      max-width: 288px;
      height: 172px;
      border-radius: 0.5rem;
      overflow: hidden;
      flex-grow: 1;
      @media screen and (min-width: 768px) {
        min-width: 175px;
        max-width: 362px;
        height: 218px;
      }
      @media screen and (min-width: 1280px) {
        min-width: 280px;
        max-width: 480px;
        height: 350px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
  .viewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    margin: 2rem auto;
  }
}

.arrowUp {
  position: absolute;
  top: 100%;
  right: 53%;
  z-index: 9999;
  padding: 1rem;
  transform: rotate(270deg);
  @media screen and (min-width: 768px) {
    top: 35%;
    right: 0;
    transform: rotate(0);
  }
}
.arrowDown {
  position: absolute;
  top: 100%;
  right: 33%;
  z-index: 9999;
  padding: 1rem;
  transform: rotate(270deg);
  @media screen and (min-width: 768px) {
    top: 50%;
    right: 0;
    transform: rotate(0);
  }
}
