.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  // height: 94px;

  // a {
  //   padding-left: 10px;
  // }
}

.logoText {
  width: 181px;
  @include font(15px, 700, normal);
}
