.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  // height: 94px;

  svg {
    width: 56px;
    height: 54px;
    @media screen and (min-width: 1280px) {
      width: 82px;
      height: 76px;
    }
  }
}

.logoText {
  width: 192px;
  @include font(14px, 800, 1.4);
  span {
    @include font(12px, 600, 1.4);
  }

  @media screen and (min-width: 1280px) {
    width: 218px;
    font-size: 15px;
    font-weight: 800;
    span {
      font-size: 15px;
      font-weight: 800;
    }
  }
}
