.link {
  width: 273px;
  height: 46px;
  background: $admin-accent;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}
