.wrapper {
  width: 100%;
  margin-bottom: 70px;
  @media screen and (min-width: 768px) {
    margin-bottom: 52px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    width: 1060px;
    margin: 40px auto 60px;
  }

  .newsWrapper {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 24px auto 32px;
    row-gap: 40px;

    @media screen and (min-width: 768px) {
      margin: 35px auto 52px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content;
      column-gap: 16px;
    }

    @media screen and (min-width: 1280px) {
      column-gap: 60px;
      margin: 35px 0 52px;
    }
  }
}

.showMore {
  color: #120000;
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0 auto;
  transition: all linear 0.3s;
  &.noMore {
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    fill: #120000;
    transition: all linear 0.3s;
  }
  &:hover {
    color: $accent-hover;
    svg {
      fill: $accent-hover;
    }
  }
}
