.Cooperation {
  @extend%aligncenter;

  .wrapper {
    width: 1070px;
    @extend%aligncenter;
    flex-direction: column;
    gap: 30px;
    margin-top: 7px;
    @include tablet {
      width: 100%;
      gap: 50px;
    }
    @include desktop {
      max-width: 1070px;
      margin-top: 40px;
    }

    p {
      line-height: 1.44;
      font-size: 18px;
    }
    .imagegWrapper {
      width: 100%;
      @extend%aligncenter;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      h2 {
        font-size: 18px;
      }
      @include tablet {
        gap: 24px;
        h2 {
          font-size: 24px;
        }
      }
    }
    .images {
      width: 100%;
      @extend%aligncenter;
      flex-direction: column;
      img {
        width: 90vw;
        border-radius: 5px;
      }

      @media screen and (min-width: 1280px) {
        gap: 2.5rem;
        flex-direction: row;
        img {
          width: 510px;
        }
      }
    }
    .Slider {
      position: relative;
      width: 100%;
      max-height: 380px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1024px) {
        height: 450px;
        margin-bottom: 1rem;
      }

      .Slide {
        width: 500px;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 450px) {
          width: 80vw;
        }

        img {
          width: 100%;
          height: 330px;
          object-fit: cover;
        }
      }
    }

    .contactsWrapper {
      @extend%aligncenter;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      gap: 16px;
      padding-bottom: 40px;
      h2 {
        font-size: 18px;
      }
      @include tablet {
        gap: 34px;
        padding-bottom: 60px;
        h2 {
          font-size: 24px;
        }
      }
      .contacts {
        list-style: none;
        padding: 0;
        @extend%aligncenter;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        gap: 17px;
        li {
          position: relative;
          // margin-bottom: 1.25rem;
          padding-left: 1.75rem;
          &:hover {
            color: $accent;
          }
        }
        li::before {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        li:nth-child(1)::before {
          background-image: url('/icons/location.png');
          left: 2px;
        }
        li:nth-child(2)::before {
          background-image: url('/icons/phone.png');
        }
        @include tablet {
          gap: 24px;
        }
      }
    }
  }
}
