.mainWrapper{
   display: flex;
   width: 100vw;
   height: 100vh;
   flex-direction: column;  
   background: var(--admin-background, #F6F7FF);
}
.adminBackdrop{
   display: flex;
   padding: 12px;   
   align-self: stretch;
}