.mainWrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: var(--admin-background, #f6f7ff);
  margin: 0;
}
.adminBackdrop {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px;
  align-self: stretch;
}
.rightContent {
  width: calc(100% - 215px);
  position: relative;
  display: flex;
  margin: 0px 12px 12px 12px;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
}
