.layout {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #daddf1;
  margin-bottom: 20px;
  height: calc(100vh - 146px);
  &::-webkit-scrollbar {
    width: 0.3125rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $admin-light-purple;
    border-radius: 0 0 8px;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $admin-blue;
    border-radius: 0.375rem;
    border: 0.5px solid $admin-light-purple;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(117, 116, 252, 1);
  }
  overflow-y: auto;
  .fieltTextInput{
    width: 48.5%;
  }

  .secondRow {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .button {
    width: 100%;
  }
}
.error {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: $admin-red;
  margin-top: -1rem;
}
