.gallery {
  color: $black;
  margin: 0 auto;
  width: 100%;
  background-color: inherit;
  margin-bottom: 24px;
  color: $black;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media (min-width: 1280px) {
    margin-bottom: 110px;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $black;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    @media (min-width: 1280px) {
      margin-bottom: 0;
    }
  }

  .slidersContainer {
    width: 100%;
    position: relative;
    @media (min-width: 1280px) {
      padding-top: 1.5rem;
    }

    .slider {
      margin: 0 auto;
      overflow: hidden;
      @media (min-width: 768px) {
        display: flex;
        gap: 1rem;
      }
      @media (min-width: 1280px) {
        width: 86%;
        min-height: 460px;
      }
      .slideContent {
        min-height: 507px;
        @media (min-width: 768px) {
          width: 50%;
          min-height: 409px;
        }
        @media (min-width: 1280px) {
          width: 33%;
          min-height: 470px;
        }
        .slidePhoto {
          cursor: pointer;
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          height: 507px;
          @media (min-width: 768px) {
            height: 409px;
          }
          @media (min-width: 1280px) {
            height: 470px;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
          }
        }
        .slideText {
          font-size: 0.875rem;
          font-weight: 500;
          padding: 1rem 0 0.5rem;
          color: $black;
          @media (min-width: 768px) {
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
          }
          @media (min-width: 1280px) {
            padding: 0.65rem 0;
          }
        }
      }
    }
  }
}

.swiperButtons {
  button {
    top: 300px;
  }
}
