.nav {
  @extend%aligncenter;
  width: 100%;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    width: max-content;
    flex-direction: row;
    gap: 30px;
  }
}

.navSelectMenu {
  width: 100%;
  @extend%aligncenter;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    width: max-content;
    flex-direction: row;
    gap: 30px;
  }
}

.navList {
  width: 100%;
  list-style: none;
  @extend%aligncenter;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    width: max-content;
    flex-direction: row;
    gap: 30px;
  }
}

.navList_item {
  position: relative;
  width: max-content;
  text-align: center;

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
  }

  &:hover {
    &::before {
      background-color: $accent;
    }
  }
  @media screen and (min-width: 1280px) {
    width: max-content;
  }
}

.navList_link {
  display: block;
  height: 100%;

  @include font(18px, 400, 1.4);
  letter-spacing: 0.19px;
  color: $black;
  padding-top: 5px;
  padding-bottom: 5px;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 2;
    padding-top: 0;
    padding-bottom: 0;
  }
}
