.NotFound {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: $black;

  .wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    color: $black;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 2rem;
      margin: 60px auto;
    }
    p {
      white-space: nowrap;
      text-align: center;
      font-size: 18px;
      margin: 50px auto 30px;
      color: $black;
      @media screen and (max-width: 1024px) {
        white-space: inherit;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
