.logoWrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.logoTextWrap {
  color: var(--Main_white, #FFFCFC);
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 280px;
}

.logoText {
  font-size: 24px;
}

.logoTextTwo {
  font-size: 18px;
}