.prevSlide,
.nextSlide {
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  //cursor: pointer;
  z-index: 20;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $graylight;
    transition: all linear 0.25s;
  }
}
.prevSlide {
  left: 0rem;
  transform: translateY(-150%);
}
.nextSlide {
  right: 0rem;
  transform: rotate(180deg) translateY(150%);
}
.prevSlide:hover svg,
.nextSlide:hover svg {
  fill: $accent;
}
