.basicContainerLoginWrap{
   display: inline-flex;
      padding: 48px;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      border-radius: 10px;
         background: #FFF;
}
