.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 71px 0;
  @include tablet {
    padding: 0 0 41px 0;
  }
  @include desktop {
    padding: 0 0 60px 0;
  }

  .buttonContainer {
    width: 100%;
    max-width: 820px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 939px;

    .cardHeader {
      width: 100%;

      .date {
        color: $gray;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 8px;
      }
      .title {
        margin-bottom: 8px;
      }
    }
    img {
      width: 100%;
      max-width: 820px;
      max-height: 487px;
      object-fit: cover;
      object-position: top;
      margin-bottom: 16px;
    }
    .text {
      width: 100%;
      font-size: 18px;
      line-height: 1.44;
    }

    @include tablet {
      .cardHeader {
        .title {
          font-size: 24px;
        }
      }
    }

    .text {
      font-size: 18px;
      @include desktop {
        img {
          width: 820px;
          margin-bottom: 40px;
        }
        .cardHeader {
          .title {
            margin-bottom: 14px;
          }
        }
      }
    }
  }
}
