.contentWrapper {
  min-height: 40vh;
  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 55px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    padding-top: 40px;
  }
}
.pageTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #120000;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
.postersList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 1.88rem;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.75rem;
    row-gap: 1.88rem;
    margin-bottom: 52px;
  }
}

.postersListItem {
  height: auto;
  overflow: hidden;

  .postersListItemImg {
    width: 100%;
    background: url('../../defaultImg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      max-width: none;
      // object-fit: cover;
      object-position: center;
      border-radius: 5px;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      height: 420px;
    }
  }
}

.postersListItemText {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: $black;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 0.75rem;
    font-size: 1.5rem;
  }
}

.showMore {
  color: #120000;
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0 auto;
  transition: all linear 0.3s;
  &.noMore {
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    fill: #120000;
    transition: all linear 0.3s;
  }
  &:hover {
    color: $accent-hover;
    svg {
      fill: $accent-hover;
    }
  }
}
