.contentWrapper {
  min-height: 40vh;
  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    padding-top: 40px;
  }
}
.pageTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #120000;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
.postersList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 1.88rem;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.75rem;
    row-gap: 1.88rem;
    margin-bottom: 60px;
  }
}

.postersListItem {
  height: auto;
  overflow: hidden;

  .postersListItemImg {
    width: 100%;
    background: url('../../defaultImg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      max-width: none;
      // object-fit: cover;
      object-position: center;
      border-radius: 5px;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      height: 420px;
    }
  }
}

.postersListItemText {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: $black;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 0.75rem;
    font-size: 1.5rem;
  }
}
.buttonViewMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  margin: 40px auto;

  &:hover .iconMore span {
    border-top: 2px solid $accent-hover;
    border-right: 2px solid $accent-hover;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.iconMore {
  width: 32px;
  height: 32px;
  @extend%aligncenter;

  span {
    width: 9px;
    height: 9px;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    transform: rotate(135deg);
  }
}
