.achievements {
  margin: 1rem auto;
  background-color: inherit;
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.slidersContainer {
  width: 100%;
  height: auto;

  .slider {
    margin: 1rem auto;
    width: 100%;

    .sliderContent {
      padding-bottom: 2rem;
      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 0.5rem;
      }
      .slideText {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        padding-top: 0.5rem;
      }
    }
    .achievements {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: inherit;
      h2 {
        font-size: 2rem;
      }
    }
    .slidersContainer {
      position: relative;
      width: 100%;

      .prevSlide,
      .nextSlide {
        position: absolute;
        top: 50%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 2rem;
          height: 2rem;
          fill: $graylight;
          transition: all linear 0.25s;
        }
      }
      .prevSlide {
        transform: translateY(-100%);
        left: 0;
      }
      .nextSlide {
        transform: rotate(180deg) translateY(100%);
        right: 0;
      }
      .prevSlide:hover svg,
      .nextSlide:hover svg {
        fill: $accent;
      }

      .slider {
        margin: 2rem auto;
        width: 86%;

        .slide {
          padding-bottom: 3rem;

          .slidePhoto {
            overflow: hidden;
            height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          img {
            width: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 0.5rem;
          }
          .slideText {
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            padding-top: 0.5rem;
          }
        }
      }
    }

    @media (min-width: $breackpoint_laptop) {
      .achievements {
        margin: 2rem auto;
        h2 {
          font-size: 2rem;
        }
      }
      .slidersContainer {
        position: relative;
        .prevSlide,
        .nextSlide {
          position: absolute;
          top: 50%;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 2rem;
            height: 2rem;
            fill: $graylight;
            transition: all linear 0.25s;
          }
        }
        .prevSlide {
          transform: translateY(-150%);
          left: 0;
        }
        .nextSlide {
          transform: rotate(180deg) translateY(150%);
          right: 0;
        }
        .prevSlide:hover svg,
        .nextSlide:hover svg {
          fill: $accent;
        }
        .slider {
          width: 86%;
          .sliderContent {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .slidePhoto {
              overflow: hidden;
              height: 400px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 0.5rem;
            }
            img {
              width: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 0.5rem;
            }
            .slideText {
              padding: 0 0.5rem;
              font-size: 1rem;
              font-weight: 500;
              text-align: center;
              padding-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
