.achievements {
  color: $black;
  margin: 0 auto;
  width: 100%;
  background-color: inherit;
  margin-bottom: 35px;
  color: $black;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media (min-width: 1280px) {
    margin-bottom: 110px;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $black;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    @media (min-width: 1280px) {
      margin-bottom: 0;
    }
    &.title{
      @media (min-width: 1280px) {
       margin-bottom: 1.5rem;
      }
    }
  }
  .slidersContainer {
    width: 100%;
    position: relative;
    @media (min-width: 1280px) {
      padding-top: 1.5rem;
    }

    .slider {
      margin: 0 auto;
      overflow: hidden;
      @media (min-width: 768px) {
        display: flex;
        gap: 1rem;
      }
      @media (min-width: 1280px) {
        width: 86%;
        min-height: 460px;
      }
      .slideContent {
        min-height: 507px;
        @media (min-width: 768px) {
          width: 50%;
          min-height: 409px;
        }
        @media (min-width: 1280px) {
          width: 33%;
          min-height: 470px;
        }

        .slidePhoto {
          width: 100%;
          height: 507px;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            border-radius: 5px;
          }

          @media (min-width: 768px) {
            height: 409px;
          }
          @media (min-width: 1280px) {
            height: 470px;
          }
        }
        .slideText {
          font-size: 0.875rem;
          font-weight: 500;
          padding: 1rem 0 0.5rem;
          color: $black;
          @media (min-width: 768px) {
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
          }
          @media (min-width: 1280px) {
            padding: 0.65rem 0;
          }
        }
      }
    }
  }
}

.swiperButtons {
  button {
    top: 300px;
  }
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


/*
.achievements {
  color: $black;
  margin: 0 auto;
  width: 100%;
  background-color: inherit;
  margin-bottom: 35px;
  @media (min-width: 1280px) {
    margin-bottom: 100px;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $black;
  }

  .achievementsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    color: $black;
  }
  .slidersContainer {
    width: 100%;
    .slider {
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      .slideContent {
        padding-bottom: 2rem;
        .slidePhoto {
          width: 100%;
          height: 470px;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            border-radius: 5px;
          }
        }
        .slideText {
          font-size: 0.875rem;
          font-weight: 500;
          padding: 1rem 0 0.5rem;
          color: $black;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .achievements {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      .slider {
        .slideContent {
          .slideText {
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .achievements {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      position: relative;
      .slider {
        width: 86%;
        .slideContent {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 2rem;
          .slidePhoto {
            width: 100%;
            height: 470px;
            border-radius: 5px;
          }
          .slideText {
            padding: 0.65rem 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
*/
