.achievements {
  color: $black;
  margin: 0 auto;
  width: 100%;
  background-color: inherit;
  margin-bottom: 35px;
  @media (min-width: 1280px) {
    margin-bottom: 100px;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: $black;
  }

  .achievementsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    color: $black;
  }
  .slidersContainer {
    width: 100%;
    .slider {
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      .slideContent {
        padding-bottom: 2rem;
        .slidePhoto {
          width: 100%;
          height: 470px;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            border-radius: 5px;
          }
        }
        .slideText {
          font-size: 0.875rem;
          font-weight: 500;
          padding: 1rem 0 0.5rem;
          color: $black;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .achievements {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      .slider {
        .slideContent {
          .slideText {
            padding: 1rem 0;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .achievements {
    h2 {
      font-size: 2rem;
    }
    .slidersContainer {
      position: relative;
      .slider {
        width: 86%;
        .slideContent {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 2rem;
          .slidePhoto {
            width: 100%;
            height: 470px;
            border-radius: 5px;
          }
          .slideText {
            padding: 0.65rem 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
/*
.errorData {
  height: 526px;
  @media (min-width: 768px) {
    height: 534px;
  }
  @media (min-width: 1024px) {
    height: 547px;
  }
}
*/