.Map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .MapContainer {
    height: 22rem;
    width: 90rem;
    flex: 1 0 auto;
    @media screen and (max-width: 768px) {
      width: 45rem;
    }
    @media screen and (max-width: 450px) {
      width: 25rem;
    }
  }
}
