.Map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}
