.youtubeIcon {
  fill: $accent;
  transition: fill 0.3s;

  &:hover {
    fill: $accent-hover;
  }
  &:focus {
    fill: $accent-hover;
  }
}

.facebookIcon {
  fill: $accent;
  transition: fill 0.3s;

  &:hover {
    fill: $accent-hover;
  }
}
.burgerMenuIcon {
  fill: $accent;
  transition: fill 0.3s;
}
