.social {
  @extend%aligncenter;
  gap: 24px;
  list-style: none;
  @media screen and (min-width: 1280px) {
    gap: 8px;
  }
}

.social li {
  display: flex;
  align-items: center;
  justify-content: center;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
}

.socialLink {
  @extend%aligncenter;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.socialLinkFacebookIcon {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 1280px) {
    width: 21px;
    height: 21px;
  }
}
.socialLinkYouTubeIcon {
  width: 30px;
  height: 24px;

  @media screen and (min-width: 1280px) {
    width: 27px;
    height: 21px;
  }
}
