.sidebarWrapper{
   display: flex;
   width: 215px;
   height: 100vh;   
   padding: 10px 0px 5px 0px;
   flex-direction: column;
   justify-content: space-between;   

   border-radius: 0px 20px 20px 0px;
   border: 1px solid var(--admin-purple, #C4B9FD);
   background: var(--admin-light-purple, #ECEFFF);
 
   
}

.sidebarContent{
   display: flex;
   flex-direction: column;      
   gap: 20px;
}

.copyright{
   display: flex;
   padding: 10px 10px 10px 30px;
   justify-content: flex-end;          
   align-self: stretch;

   color: var(--admin-text-main, #152340);
   font-family: Montserrat;
   font-size: 9px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}