.wrapper {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  .icon {
    font-size: 1.5rem;
    color: #57616b;
  }
  .crumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #57616b;
    font-size: 12px;
    &:nth-child(3) {
      color: #707e8c;
    }
  }
}
